<!-- <div>
    <img src="../../../assets/images/error404.png" alt="error image" class="w-100">
</div> -->
<div class="container-fuild bg-light w-100 h-75 p-5">

    <div class="container shadow p-4 bg-body-tertiary rounded  w-50 text-center align-middle">
        <i class="bi bi-exclamation-triangle-fill fs-1 text-danger"></i>
        <h1 class="h1">Registration Token Already Use or has been expired </h1>
        <h1 class="h1"> Please Login Again !</h1>
        <button class="btn btn-primary">Login</button>

    </div>
</div>