<div class="d-flex justify-content-evenly bg-dark p-3 my-3">
    <input type="radio" class="btn-check" name="btnradio" id="request" autocomplete="off">
    <label class="btn btn-outline-light" for="request">Requests</label>
    <input type="radio" class="btn-check" name="btnradio" id="dashboard" autocomplete="off" checked>
    <label class="btn btn-outline-light" for="dashboard">Dashboard</label>
    <input type="radio" class="btn-check" name="btnradio" id="inquiries" autocomplete="off">
    <label class="btn btn-outline-light" for="inquiries">Inquiries</label>
</div>

<div class="alert alert-success alert-dismissible fade show m-3" role="alert" *ngIf="showAlert">
    <strong> {{ alertMessage }}</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"> <span
            aria-hidden="true">&times;</span></button>
</div>

<div class="container">
    <h2>Add Category</h2>
    <form [formGroup]="categoryForm" (ngSubmit)="addCategory()">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" placeholder="Category Name" class="form-control" id="name" formControlName="name"
                required />
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Description</label>
            <input type="text" placeholder="Description" class="form-control" id="desc" formControlName="description"
                required />
        </div>
        <button type="submit" class="btn btn-primary" (click)="showAlertMessage()">Submit</button>
    </form>
</div>